/* font-family: "Roboto", sans-serif;
● #212529;
● #707070;
● #F8F9FA o var(--light);
● #fff o var(--white);
● #28a745 o var(--success)
*/

body {
  font-family: "Roboto", sans-serif
}

.container {
  --bs-gutter-x: 0rem;

}

/* ------------------ NAVBAR ------------------ */
.navbar {
  background-color: #28A745;
}

.navbar ul {
  color: #FFF !important;
}

.navbar img {
  max-width: 5.5rem;
}

.navbar-toggler {
  border-color: #FFFFFF80;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 


/* ----------------- CONTENIDO ---------------- */

.avenida {
  font-size: 13px;

}

.card-body {
  font-weight: 300 !important;
}

.card-body h5 {
  font-weight: 300;
}

.precios {
  border-top: 1px solid #70707030;
  padding-top: 1rem;
  margin-bottom: 0 !important;
}

.precios .text-body-tertiary{
  font-size: 16px;

  
}

.precios .text-success {
  font-size: 20px;
  font-weight: 500;
}


/* ------------------ CUPONES ----------------- */
.cupones {
  background-color: #28A745;
}


/* ---------------- FORMULARIO ---------------- */

form input::placeholder {
  font-weight: 300;
}

/* ------------------ FOOTER ------------------ */

footer img {
  width: 5rem;
}